


<div class="bg-white  flex   items-center pt-20">
    <div class="w-full md:w-1/2  content-center mx-auto max-w-2xl hidden md:block ">
      <img class="rounded-3xl shadow-2xl " src="https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/IEE-MAGDALENA-MEDIO-48.jpg" alt="IEE Magdalena Medio">
    </div>

    <div class="mx-auto max-w-2xl  lg:px-8">

      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-center text-gray-900 sm:text-4xl">Bienvenido a nuestra Institución</h2>
        <br>
        <p class="mt-2 text-lg text-justify  text-gray-600">Nos consideramos una gran familia educativa comprometida con el desarrollo de cada uno de nuestros estudiantes y con su éxito académico y personal. Creemos en la participación y corresponsabilidad como pilares fundamentales para lograr una formación sólida y enriquecedora. Por eso, trabajamos en estrecha colaboración con nuestros directivos, docentes, padres de familia, estudiantes y personal administrativo para garantizar una educación de calidad.</p>
      </div>

      <div class="mx-auto  pt-10  lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <ul>
          <li class="hover-option"><a href="./src/pages/PFC.astro"><i class="fa-solid fa-check"></i> <strong>Programa de Formación Complementaria – PFC</strong></a></li>
          <li class="hover-option"><i class="fa-solid fa-check"></i> <strong>Admisiones</strong></li>
          <li class="hover-option"><i class="fa-solid fa-check"></i> <strong>Requisitos de Matrícula</strong></li>
        </ul>
      </div>

    </div>

  </div>
  <div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-3f2abd5a elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="3f2abd5a" data-element_type="widget" data-widget_type="image.default">
    <div class="elementor-widget-container">
    <a href="https://sinai.net.co/Web/Default.aspx?ReturnUrl=%2f" target="_blank">
    <img loading="lazy" decoding="async" width="300" height="140" src="https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/SINAI-300-140.png" class="attachment-full size-full wp-image-397" alt="">								</a>
    </div>
    </div>
    <div class="elementor-element elementor-element-6035c83b elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="6035c83b" data-element_type="widget" data-widget_type="image.default">
    <div class="elementor-widget-container">
    <a href="https://www.sistemamatriculas.gov.co/" target="_blank">
    <img loading="lazy" decoding="async" width="300" height="140" src="https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/SIMAT-300-140.png" class="attachment-full size-full wp-image-398" alt="">								</a>
    </div>
    </div>
    <div class="elementor-element elementor-element-35f66b5f elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="35f66b5f" data-element_type="widget" data-widget_type="image.default">
    <div class="elementor-widget-container">
    <a href="https://recalh.sinai.net.co/" target="_blank">
    <img loading="lazy" decoding="async" width="300" height="140" src="https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/RECALH-300-140.png" class="attachment-full size-full wp-image-400" alt="">								</a>
    </div>
    </div>
    <div class="elementor-element elementor-element-522184d2 elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="522184d2" data-element_type="widget" data-widget_type="image.default">
    <div class="elementor-widget-container">
    <a href="https://www.icfes.gov.co/" target="_blank">
    <img loading="lazy" decoding="async" width="300" height="140" src="https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/ICFES-300-140.png" class="attachment-full size-full wp-image-401" alt="">								</a>
    </div>
    </div>
    <div class="elementor-element elementor-element-47961295 elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="47961295" data-element_type="widget" data-widget_type="image.default">
    <div class="elementor-widget-container">
    <a href="https://www.mintic.gov.co/portal/inicio/" target="_blank">
    <img loading="lazy" decoding="async" width="300" height="140" src="https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/MINTIC-300-140-1.png" class="attachment-full size-full wp-image-569" alt="">								</a>
    </div>
    </div>
    <div class="elementor-element elementor-element-68461d8d elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="68461d8d" data-element_type="widget" data-widget_type="image.default">
    <div class="elementor-widget-container">
    <a href="https://web.icetex.gov.co/portal" target="_blank">
    <img loading="lazy" decoding="async" width="300" height="140" src="https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/ICETEX-300-140.png" class="attachment-full size-full wp-image-403" alt="">								</a>
    </div>
    </div>
    <div class="elementor-element elementor-element-4ddcc6e elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="4ddcc6e" data-element_type="widget" data-widget_type="image.default">
    <div class="elementor-widget-container">
    <a href="https://www.colombiaaprende.edu.co/" target="_blank">
    <img loading="lazy" decoding="async" width="300" height="140" src="https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/colombia-aprende300-140.png" class="attachment-full size-full wp-image-404" alt="">								</a>
    </div>
    </div>
    <div class="elementor-element elementor-element-5a53e986 elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="5a53e986" data-element_type="widget" data-widget_type="image.default">
    <div class="elementor-widget-container">
    <a href="https://www.mineducacion.gov.co/" target="_blank">
    <img loading="lazy" decoding="async" width="300" height="140" src="https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/MINEDUCACION-300-140.png" class="attachment-full size-full wp-image-405" alt="">								</a>
    </div>
    </div>
    </div>
  