---
import Layout from "../layouts/Layout.astro" 
--- 


<Layout title="Galeria">
    <h1>Pagina galeria</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iusto nostrum amet nulla doloremque odio explicabo in recusandae enim hic. Unde aliquam cupiditate deserunt sed ex deleniti neque animi similique?
    </p>
    </Layout>