---

---

<header>
    <nav class="z-10 fixed inset-0 wrapper h-20 flex items-center justify-between ">
      <a href="./" class="w-1/3 max-w-[250px]">
        <img src="https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/NORMAL.png" alt="logo institución"/>
      </a>
        <input type="checkbox" id="menu" class="peer hidden">
        <label for="menu" class="bg-open-menu w-6 h-5 bg-cover bg-center cursor-pointer peer-checked:bg-close-menu transition-all z-50 md:hidden"></label>

      <div class="fixed inset-0 bg-gradient-to-b from-white/70 to-black/70 translate-x-full peer-checked:translate-x-0 transition-transform z-40 md:static md:bg-none md:translate-x-0">
      <div class="bg-gradient-to-b  from-black/85 to-red-800 w-auto h-16 content-center rounded-full shadow-sm shadow-black/100 ">

        <ul class="absolute inset-x-0 top-24 p-12 md:bg-transparent  w-[90%] mx-auto rounded-md h-max text-center grid gap-6 font-bold text-dark-blue shadow-2xl md:w-max md:p-0 md:grid-flow-col md:static">
          <li class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300">
            <a href="/">Inicio</a>
          </li>
          
          <li class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300">
            <a href="#">Institucion</a>
          </li>
          
          <li class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300">
            <a href="#">Comunidad</a>
          </li>
          
          <li class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300">
            <a href="#">Matrícula</a>
          </li>
          
          <li class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300">
            <a href="#">Proyectos</a>
          </li>
          
          <li class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300">
            <a href="#">Galeria</a>
          </li>
        </ul>
      </div>
      </div>
      <a href="#" class="button shadow-sm shadow-black/100 hidden lg:block">Contáctenos</a>
    </nav>
  </header>
