---

---

<header class="fixed top-0 z-index-max md:h-96">
    <nav class="mx-96 flex my-5 items-center justify-between">
        <img src="https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/NORMAL.png" alt="logo institución"/>
        <input type="checkbox" id="menu">
        <label for="menu">Activa y desactiva </label>

      <div class="bg-white w-full p-1 rounded-full">
        <ul class="flex flex-row gap-4 bg-red-800 p-6 rounded-full">
          <li
            class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300"
          >
            <a href="/">Inicio</a>
          </li>
          <li
            class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300"
          >
            <a href="#">Institucion</a>
          </li>
          <li
            class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300"
          >
            <a href="#">Comunidad</a>
          </li>
          <li
            class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300"
          >
            <a href="#">Matrícula</a>
          </li>
          <li
            class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300"
          >
            <a href="#">Proyectos</a>
          </li>
          <li
            class="text-white text-lg font-bold hover:text-orange-400 transition-all duration-300"
          >
            <a href="#">Galeria</a>
          </li>
        </ul>
      </div>
      <a href="#">Contáctenos</a>
      </nav>
</header>
