---
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
import Blog from "./Blog.astro";
import Card from "../components/Card.astro";
import EnlacesInteres from "../components/EnlacesInteres.astro";
---

<Layout title="Principal-Sites">
  <section>
    <Banner client:load />
  </section>
  <main>

    <section>
      <slot  />
    </section>

    <section>
      <Blog />
    </section>

    <section style="background-image: url('/src/images/fondo.svg');">
      <div class="bg-cover bg-center h-full">
      <div class="grid gap-2 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
        
        <Card
        title="Educaci贸n Preescolar"
        body="Urna pellentesque faucibus lorem justo non vel efficitur sapien bibendum imperdiet tempor"
        href="/"
        />
        
        <Card
        title="Educaci贸n Primaria"
        body="Urna pellentesque faucibus lorem justo non vel efficitur sapien bibendum imperdiet tempor"
        href="/"
        />
        
        <Card
        title="Educaci贸n Secundaria"
        body="Urna pellentesque faucibus lorem justo non vel efficitur sapien bibendum imperdiet tempor"
        href="/"
        />
        
        <Card
        title="Media y Formaci贸n Complentaria (PFC)"
        body="Urna pellentesque faucibus lorem justo non vel efficitur sapien bibendum imperdiet tempor"
        href="/"
        />
      </div>
      <EnlacesInteres/>
    </div>
  </section>
    </section>
    <section>
    </section>

    </main>
</Layout>
