---
import Banner from "../components/Banner.astro";
import EnlacesInteres from "../components/EnlacesInteres.astro";
import Publicaciones from "../components/Publicaciones.astro";
import TiposDeEducacion from "../components/data/TiposDeEducacion.astro";
import Layout from "../layouts/Layout.astro";
import Blog from "../components/Blog.astro";
---

<Layout title="Principal-Sites">
  <section>
    <Banner />
  </section>
  <main>

    <section>
      <slot  />
    </section>

    <section>
      <Blog />
    </section>

    <section class="py-5 " style="background-image: url('/src/images/fondo.svg');">
      <TiposDeEducacion/>
      <EnlacesInteres/>
  </section>

  <section>
    <Publicaciones/>
  </section>

    </main>
</Layout>
