---
import Layout from "../layouts/Layout.astro";
import Banner from "./Banner.astro";
import Blog from "./Blog.astro";
import Footer from "./Footer.astro";
---

<Layout title="SNET-SITES">
  <section>
    <!-- <Banner /> -->
  </section>
  <section>
    <Blog />
  </section>
  <section>

  </section>
</Layout>
