---
import ProyectosComponent from "../components/Proyectos.astro";
import Layout from "../layouts/Layout.astro"

---


<Layout title="Proyectos">
    
    <div class="md:bg-gradient-to-b  from-blue-600/100 to-blue-950 rounded-br-[10%] md:h-[35vh]  flex justify-center items-center">
        <h1 class="mx-auto font-bold text-6xl text-white">Proyectos Transversales</h1>
    </div>
    <ProyectosComponent/>

</Layout>
