---
const enlaces = [
  { img: 'https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/SINAI-300-140.png ', href: 'https://sinai.net.co/Web/Default.aspx?ReturnUrl=%2f' },
  { img: 'https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/SIMAT-300-140.png', href: 'https://sinai.net.co/Web/Default.aspx?ReturnUrl=%2f' },
  { img: 'https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/RECALH-300-140.png', href: 'https://sinai.net.co/Web/Default.aspx?ReturnUrl=%2f' },
  { img: 'https://ieenormalsuperiormm.edu.co/wp-content/uploads/2024/02/ICFES-300-140.png', href: 'https://sinai.net.co/Web/Default.aspx?ReturnUrl=%2f' },
  
  

]


---

<div class="w-full p-4 text-center sm:p-8 ">
    <div>
        <div>
    
            <h1 class="font-bold text-4xl text-white">Enlaces De Interés</h1>
            <p>
                Descubre las herramientas digitales que mantienen nuestra comunidad educativa en sintonía.
                Ingresa a los siguientes enlaces de interés de nuestra institución educativa
            </p>
            
        </div>
    
    </div>
    <div class=" justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">

{
    enlaces.map((enlace: any) => (

        <a href={enlace.href} target="_blank" class="w-full sm:w-auto hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <img src={enlace.img} alt="logo ">
        </a>
))
}
    </div>
</div>